{% extends layout.html" %}

{% block nav %}
<nav class="nav-links">
    <a href="home.html">Home</a>
    <a href="patients.html">Patients</a>
    <a href="schedule.html">Schedule</a>
    <a href="reports.html">Reports</a>
    <a href="support.html">Support</a>
    <a href=""><img src="../../static/lightmode.png" width="25px"></a>
</nav>
{% endblock %}

{% block footer %}
Physician dashboard for managing fetal PCB exposure assessments.
Please use this tool in conjuction with your clinical judgment.
Follow institutional policies.
{% endblock %}